<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamento para Vícios - Drogas Ilícitas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/alcool.css' %}">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="{% static 'img/logobranca.png' %}" alt="Logo do Site" class="logo">
        </div>
    </header>
    <style> 
    .header-content {
        background-image: url('{% static "img/alcoolismo-header.png" %}');
        background-size: cover;
        background-position: center;
        height: 60vh;
        color: #ffffff;
        padding: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; /* Alinha os elementos no início do cabeçalho */
        align-items: flex-end; /* Alinha os elementos na parte inferior do cabeçalho */
        font-size: 24px;
    }
</style>
    <!-- Fim do Header -->

    <!-- Primeiro Topico - Causas do Vicio -->

    <div class="causas_sintomas">

        <section class="causas">
            <div class="causas_content ">
                <div class="card">
                    <center>
                        <h2>O poder destrutivo dos Vícios ilícitos...</h2>
                    </center>
                    <div class="texto_causas ">
                        <h3>O alcoolismo</h3>
                        O alcoolismo é um problema no mundo todo. Segundo a OMS, o Brasil tem mais de 4 milhões de
                        pessoas
                        que são alcoólatras. Pesquisas do IBGE também apontam este aumento: um levantamento revelou que
                        de
                        2013 para 2019, o percentual da população acima de 18 anos que costumava consumir bebidas
                        alcoólicas
                        uma vez ou mais por semana passou de 23,9% para 26,4%.
                        <br><br>
                        <h3>Uma doença</h3>
                        Trata-se de uma doença que pode gerar muitas consequências negativas na vida do dependente e de
                        seus familiares e amigos próximos, por isso, ficar atento aos sinais é fundamental para buscar
                        ajuda profissional na hora certa.
                        <br><br>
                        
                    </div>
                </div>
            </div>
        </section>

        <!-- Fim do Topico - Causas do Vicio -->

        <section class="sintomas">
            <div class="sintomas_content card">
                <h3>O que é o alcoolismo</h3>
                        O alcoolismo é uma doença crônica caracterizada pela dependência ao álcool. Com o tempo, o
                        indivíduo
                        se torna progressivamente tolerante à intoxicação produzida pela droga e tem sinais de
                        abstinência
                        quando deixa de consumi-la.
                        <br><br>
                        Os alcoólatras fazem uso constante e descontrolado das bebidas, o que pode comprometer de forma
                        grave o funcionamento do organismo e gerar consequências irreversíveis. Além disso, não é apenas
                        o dependente que se prejudica, pois todos que estão ao seu redor também sofrem com a doença.
                        <br><br>
                        É importante reforçar que o abuso do álcool, por sua vez, não é a mesma coisa que o alcoolismo,
                        pois não diz respeito a uma vontade incontrolável de beber, uma perda do controle ou dependência
                        física. Além disso, o abuso de álcool tem menos chances de levar à tolerância, ou seja, a
                        necessidade de aumentar as quantias de bebida ingerida para sentir os mesmos efeitos.
                        <br><br>

            </div>
        </section>
    </div>
    <section>
        <div class="solucao_content">
            <div class="proposta_solucao">
                <h2>O vício em álcool</h2>
                <p>um problema que assola milhões de pessoas ao redor do mundo, não se resume a uma simples escolha.
                    É uma teia complexa entrelaçada por diversos fatores biológicos, psicológicos e sociais.</p>
                <div class="subtitulos">Genética</div>
                <p>A predisposição genética é um fio condutor importante. Indivíduos com histórico familiar de
                    alcoolismo
                    possuem maior risco de desenvolver a dependência.</p>
                <div class="subtitulos">Fatores psicológicos</div>
                <p>Emoções como estresse, ansiedade, depressão e traumas podem impulsionar o indivíduo a buscar refúgio
                    no álcool, buscando aliviar o sofrimento emocional.</p>
                <div class="subtitulos">Influências sociais</div>
                <p>O ambiente social também exerce papel crucial. Pressão dos pares, acesso fácil ao álcool e a
                    banalização
                    do seu consumo na cultura podem contribuir para o desenvolvimento do vício.</p>
                <div class="subtitulos">Fatores neuroquímicos</div>
                <p>O álcool atua no sistema de recompensa do cérebro, liberando dopamina, neurotransmissor associado ao
                    prazer. Esse efeito reforça o comportamento, levando ao desejo por mais consumo.</p>
                <div class="subtitulos">Comorbidades</div>
                <p>Doenças mentais como depressão e ansiedade podem aumentar a vulnerabilidade ao vício em álcool,
                    criando um ciclo vicioso de automedicação e agravamento dos sintomas.</p>
                <div class="subtitulos">Fatores iniciais</div>
                <p>Começar a beber em tenra idade, ter acesso precoce ao álcool e apresentar padrões de consumo
                    excessivo na adolescência aumentam as chances de desenvolver dependência.</p>
                <hr>
                <p>A combinação desses fatores, em diferentes proporções para cada indivíduo, tece a complexa história
                    do
                    vício em álcool. É crucial reconhecer essa multicausalidade para buscar tratamento adequado e
                    efetivo,
                    combatendo essa doença que tanto impacta a vida de quem dela sofre.</p>
            </div>

            <div class="dicas_rapidas">

                <img src="{% static 'img/charge_alcoolismo.png' %}" alt="Sintomas"> <br>
                <small>Umas das principais consequências do alcoolismo é o consumo em momentos cruciais e inapropriados.
                    E o
                    consumo de álcool no transito matou mais de 10.887 pessoas no ano de 2021, totalizando 1,2 mortes
                    por hora como revela o Ministério da Saúde. Arte por Ivan Cabral</small>


            </div>

        </div>
    </section>



    <!-- Fim do Topico -Proposta de Solução -->
    <!-- TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->


    <section class="titulo-tratamento">
        <div class="titulo_content">
            <h2>Nossos Tratamentos...</h2>
        </div>
    </section>

    <section class="tratamentos-imagens">
        <div class="caixa_tratamento">
            <div class="tratamento">
                <img src="{% static 'img/psicoterapia.png' %}" alt="Tratamento 1">
                <div class="legenda">Psicoterapia</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/desintoxicacao.jpg' %}" alt="Tratamento 2">
                <div class="legenda">Desintoxicação</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/medicamento.png' %}" alt="Tratamento 3">
                <div class="legenda">Medicamentos</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/internacao.png' %}" alt="Tratamento 4">
                <div class="legenda">Internação</div>
            </div>
        </div>
    </section>
    <!-- FIM DO TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->

    <!-- TOPICO - TEXTO DOS TRATAMENTOS -->

    <section class="tratamentos-texto">
        <div class="tratamentos">
            <h2></h2>

            <h3 class="subtitulos">Psicoterapia</h3>

            <p>Quase todos os programas de tratamento do alcoolismo também incluem encontros de Alcóolicos Anônimos
                (AA),
                cuja descrição é uma comunidade mundial de homens e mulheres que se ajudam a ficarem sóbrios.</p>

            <p>Enquanto o AA é geralmente reconhecido como um programa eficiente de ajuda mútua para recuperar
                dependentes
                de álcool, nem todas as pessoas respondem positivamente ao estilo e mensagens do AA, e outras abordagens
                podem estar disponíveis.</p>



            <h3 class="subtitulos">Desintoxicação</h3>

            <p>A desintoxicação no alcoolismo é a primeira etapa crucial no processo de recuperação, marcando o início
                da
                jornada para se livrar da dependência do álcool. É um processo médico supervisionado que visa eliminar o
                álcool do organismo de forma segura e minimizar os sintomas da abstinência, preparando o terreno para as
                etapas seguintes do tratamento.</p>

            <p>A duração da desintoxicação varia de acordo com a gravidade do vício, o estado geral de saúde do
                paciente
                e o protocolo utilizado. Em geral, dura de 3 a 14 dias, mas pode se estender por mais tempo em casos
                mais
                complexos.</p>

            <h3 class="subtitulos">Medicamentos</h3>

            <p><strong>Dissulfiram</strong>, também conhecido como antietanol, é um medicamento conhecido por seu efeito
                aversivo, ou seja,
                se fizer uso dele em conjunto com álcool pode ocorrer náuseas, vômitos, rubor facial, taquicardia e
                queda de
                pressão</p>

            <p><strong>Naltrexona:</strong> medicação desenvolvida para o tratamento adjunto da dependência de álcool
                que atua sobre o
                sistema opioide, bloqueando os efeitos de recompensa do álcool e evitando recaídas.</p>

            <p><strong>Acamprosato:</strong> medicação que age como antagonista dos receptores glutamatérgicos,
                atenuando os sintomas de
                abstinência ao álcool.</p>

            <h3 class="subtitulos">Internação</h3>

            <p>A internação no tratamento do alcoolismo é um recurso terapêutico fundamental em casos graves ou de alto
                risco, oferecendo um ambiente seguro e estruturado para a desintoxicação, o tratamento intensivo e a
                recuperação. É como um refúgio acolhedor onde você se concentra na jornada para se livrar da dependência
                do
                álcool e reconstruir sua vida.</p>

            <p>A duração da internação varia de acordo com a gravidade do vício, o estado geral de saúde do paciente e
                o
                progresso no tratamento. Em geral, dura de 30 a 90 dias, mas pode ser mais curta ou mais longa em casos
                específicos.</p>

        </div>
    </section>
    <!-- FIM TOPICO - TEXTO DOS TRATAMENTOS -->

    <!-- FOOTER  -->
    <footer>
        <h4>Guiando você na jornada da recuperação,<br>
            oferecendo esperança, apoio e uma nova perspectiva de vida <br>além do vício.</h4>
        <p>&copy; 2024 GDB Vício Zero. Todos os direitos reservados.</p>
        <p> Suporte: (81) 9XXXX-XXXX</p>
        <p> EMAIL viciozero@gmail.com</p>
        <!--  
            <img class="insta" src="instagram.jpeg" alt="Instagram">
             <img class="face" src="facebook.jpeg" alt="Facebook">
           -->
    </footer>
</body>

</html>
