<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamento para Vícios - Drogas Ilícitas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/droga.css' %}">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="{% static 'img/logobranca.png' %}" alt="Logo do Site" class="logo">
        </div>
    </header>
    <style> 
        .header-content {
            background-image: url('{% static "img/vicios-cocaina.jpg" %}');
            background-size: cover;
            background-position: center;
            height: 60vh;
            color: #ffffff;
            padding: 30px;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start; /* Alinha os elementos no início do cabeçalho */
            align-items: flex-end; /* Alinha os elementos na parte inferior do cabeçalho */
            font-size: 24px;
        }
    </style>
    <!-- Fim do Header -->

    <!-- Primeiro Topico - Causas do Vicio -->

    <div class="causas_sintomas">

        <section class="causas">
            <div class="causas_content ">
                <div class="card">
                    <center>
                        <h2>O poder destrutivo dos Vícios ilícitos...</h2>
                    </center>
                    <div class="texto_causas ">
                        <h3>Porque as drogas são tão consumidas?</h3>
                        Não há uma causa específica sobre o surgimento de um vício em uma pessoa, isto porque inúmeras
                        variáveis devem ser consideradas para esta avaliação. Mas de forma geral, inclusive
                        cientificamente, o uso de drogas está relacionado a sensação de prazer que ela causa durante o
                        consumo. O efeito químico irá depender do tipo de substância, a frequência e quantidade que foi
                        consumida. <br><br>
                        O vício pode se iniciar de forma inocente, com a simples curiosidade sobre os jogos. No calor da
                        ação, os problemas se dissolvem, o estresse se esvai e a mente se concentra apenas na emoção do
                        momento.
                        <br><br>
                        <h3>O que São?</h3>
                        Drogas ilícitas são aquelas cuja fabricação, venda, distribuição e uso são considerados ilegais.
                        Elas englobam substâncias como maconha, cocaína, heroína, crack e afins.
                        <br><br>
                        A sua ilegalidade está pautada principalmente nos efeitos perigosos que representam aos usuários
                        e pessoas ao entorno de dependentes químicos.
                        <br><br>
                        A grande maioria das drogas ilícitas são altamente viciantes e, por isso, não requerem usos
                        frequentes e regulares até que a pessoa se encontre em estado de dependência química.
                        <br><br>
                        A dependência de drogas ilícitas, por sua vez, representa a falta de controle quanto a como,
                        quando e onde usar substância. Embora todos conheçam seus perigos, negligenciar o uso pode ser
                        uma tarefa complexa, especialmente quando há muito estímulo para o seu uso.
                        <BR></BR>
                        Com o tempo, um usuário pode ficar viciado nos efeitos mentais ou físicos da droga. Isso o leva
                        a precisar de mais da substância para obter os mesmos efeitos. Sem ajuda, uma pessoa com
                        dependência de drogas ilícitas muitas vezes coloca sua saúde e segurança em perigo.
                    </div>
                </div>
            </div>
        </section>

        <!-- Fim do Topico - Causas do Vicio -->

        <section class="sintomas">
            <div class="sintomas_content card">
                <div class="sintomas_card">
                    <h2>Reconhecendo os sinais do Vício...</h2>
                    <p>Algumas pessoas viciadas em drogas ilícitas podem misturar várias substâncias diferentes. Esses
                        indivíduos também podem alternar o consumo entre variadas opções de substâncias químicas. Mas
                        não importa como as drogas são tomadas, existem certos comportamentos que podem indicar a
                        presença do vício.</p>
                </div>
                <div class="sintomas_lista">
                    <h2>Reconhecendo os sinais do vício em drogas ilícitas... </h2>
                    <img class="imagem_sintomas" src="{% static 'img/Sintomas_Drogas.png' %}" alt="Sintomas"
                        style="max-width: 100%; height: auto; max-width: 600px;">
                    <p>Vale ressaltar, ainda, que existem também algumas consequências e sinais que são particulares e
                        relacionadas ao uso de cada droga.

                        Mas quando o indivíduo passa a transparecer algum dos sinais mencionados, é hora de acender o
                        alerta e manter-se disponível para oferecer suporte e ajuda ao enfrentar o vício.</p>
                </div>
            </div>
        </section>
    </div>
    <section>
        <div class="solucao_content">
            <div class="proposta_solucao">
                <h2>Drogas mais utilizadas por pessoas que sofrem desse Vício.</h2>
                <div class="subtitulos">Maconha</div>
                <p>A quem diga que a maconha, por ser de origem vegetal, não é considerada uma droga, porém ela é
                    sim classificada como entorpecente. O nível de dependência da maconha é relativamente baixo em
                    relação às outras drogas mais potentes. O uso prolongado causa danos cerebrais que podem incluir
                    problemas com a memória, dificuldade no raciocínio e baixa concentração.</p>
                <div class="subtitulos">Cocaína</div>
                <p>essa droga causa uma sensação de prazer, por sua capacidade anestésica, por outro lado é
                    potencialmente perigosa e viciante. Ela causa diversos problemas no usuário que envolvem danos
                    ao coração e ao cérebro.</p>
                <div class="subtitulos">LSD</div>
                <p>Não necessariamente causa uma dependência imediata. Mas é comum que os usuários busquem esta
                    droga para obter um estado alucinógeno. Geralmente consumido por jovens em festivais e eventos
                    de entretenimento. Na busca pela “viagem” e a curtição perfeita, acabam por serem seduzidos por
                    esta droga.</p>
                <div class="subtitulos">Ecstasy</div>
                <p>O consumo de ecstasy causa grandes problemas no sistema nervoso central, mesmo que a dependência
                    seja moderada. O uso desta substância afeta diretamente a capacidade de memória, ou seja, causa
                    esquecimento transitório.</p>
                <div class="subtitulos">Heroína</div>
                <p>Heroína: considerada a droga mais viciante. A heroína é arrasadora em todos os sentidos. Seus
                    usuários sofrem com a dependência física e psíquica. Apenas 20% dos usuários não se viciam. A
                    overdose pode levar à morte.</p>
            </div>
            <div class="dicas_rapidas">
                <img src="{% static 'img/2.png' %}" alt="Sintomas">
            </div>

        </div>
    </section>

    <!-- Fim do Topico -Proposta de Solução -->
    <!-- TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->


    <section class="titulo-tratamento">
        <div class="titulo_content">
            <h2>Nossos Tratamentos...</h2>
        </div>
    </section>

    <section class="tratamentos-imagens">
        <div class="caixa_tratamento">
            <div class="tratamento">
                <img src="{% static 'img/psicoterapia.jpeg' %}" alt="Tratamento 1">
                <div class="legenda">Psicoterapia</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/desintoxicacao.jpg' %}" alt="Tratamento 2">
                <div class="legenda">Desintoxicação</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/medicmaentos.jpg' %}" alt="Tratamento 3">
                <div class="legenda">Medicamentos</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/internação.jpg' %}" alt="Tratamento 4">
                <div class="legenda">Internação</div>
            </div>
        </div>
    </section>
    <!-- FIM DO TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->

    <!-- TOPICO - TEXTO DOS TRATAMENTOS -->

    <section class="tratamentos-texto">
        <div class="tratamentos">
            <h2></h2>

            <h3 class="subtitulos">Psicoterapia</h3>
            <p> A intervenção psicoterapêutica consiste em um processo que propõe a combinação de terapias de suporte
                psicológico com medicamentos. São diversas fases e cada uma delas é estabelecida de acordo com a
                percepção do profissional quanto às principais necessidades do paciente. </p>
            <p>O ideal é que essas intervenções terapêuticas combinadas sejam feitas em instituições especializadas e
                que disponibilizem uma equipe multidisciplinar, composta por médicos clínicos, psiquiatras, psicólogos,
                assistente social e outros. Além do uso de remédios, o trabalho de aconselhamento auxilia na importância
                de evitar comportamentos que colocam a saúde em risco. </p>
            <p> Por meio de uma intervenção multiprofissional é possível alcançar resultados mais satisfatórios na
                reabilitação do paciente. Quando se trabalha em equipe, o compartilhamento de ideias ajuda a perceber,
                com mais clareza, a necessidade de eventuais ajustes para tornar as terapias escolhidas ainda mais
                eficientes. </p>


            <h3 class="subtitulos">Desintoxicação</h3>

            <p>A desintoxicação é um passo importante para a completa reestruturação das funções metabólicas afetadas
                pela toxicidade. Esse processo também influencia a estabilidade emocional do dependente químico, já que
                a recuperação só é eficaz quando novas posturas e comportamentos saudáveis são estabelecidos.</p>
            <p>A desintoxicação é a fase inicial de todos os tipos de tratamento para dependentes químicos. Considerando
                a relação entre depressão e uso de drogas, as terapias combinadas são focadas na reversão dos prejuízos
                fisiológicos e na redução dos sintomas da abstinência que podem gerar tais complicações.</p>
            <p>Nessa etapa, o apoio dos amigos e familiares é crucial para que o indivíduo consiga ter a força
                psicológica necessária à continuidade de seu propósito. Vale destacar que o sucesso da desintoxicação é
                determinante para preparar o paciente para as próximas fases do tratamento.</p>

            <h3 class="subtitulos">Medicamentos</h3>

            <p>As medicações devem ser criteriosamente escolhidas e monitoradas pela equipe responsável. Ter esse
                cuidado é fundamental para que o dependente químico não abuse dos medicamentos ou adote alguma postura
                prejudicial à saúde. </p>
            <p>Devido à própria dinâmica dos entorpecentes, a fisiologia de um organismo já intoxicado exige a
                substituição das substâncias que lhe foram retiradas para evitar a síndrome de abstinência.</p>
            <p>Muitas vezes, é necessário a prescrição de analgésicos para reduzir dores de cabeça e no corpo que surgem
                durante a desintoxicação. Igualmente relevante é o apoio psicológico para ajudar no controle de crises
                de ansiedade que podem gerar irritabilidade e mau humor. </p>

            <h3 class="subtitulos">Internação</h3>

            <p> Atualmente, as instituições especializadas em recuperação da dependentes químicos expandiram os
                tratamentos destinados ao apoio a quem não consegue superar essa batalha sozinho. Sob esse contexto, as
                metodologias terapêuticas são aplicadas sob uma ótica biopsicossocial do ser e focadas em suas
                principais necessidades.</p>

            <p>Por isso, a internação em hospitais especializados é importante para que o paciente receba todo o suporte
                necessário à superação do vício. Um dos propósitos mais relevantes da internação é o afastamento de
                ambientes e de pessoas que usam drogas. Principalmente durante a quarentena, a internação pode ser a
                solução mais viável para ajudar a quem precisa se livrar das drogas. </p>

        </div>
    </section>
    <!-- FIM TOPICO - TEXTO DOS TRATAMENTOS -->

    <!-- FOOTER  -->
    <footer>
        <h4>Guiando você na jornada da recuperação,<br>
            oferecendo esperança, apoio e uma nova perspectiva de vida <br>além do vício.</h4>
        <p>&copy; 2024 GDB Vício Zero. Todos os direitos reservados.</p>
        <p> Suporte: (81) 9XXXX-XXXX</p>
        <p> EMAIL viciozero@gmail.com</p>
        <!--  
            <img class="insta" src="instagram.jpeg" alt="Instagram">
             <img class="face" src="facebook.jpeg" alt="Facebook">
           -->
    </footer>
</body>

</html>
