<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tratamento para Vícios - Jogos de Azar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jogos.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="titulo_header">
                <h1>O Vício em Jogos de Azar tem Cura!</a></h1>
                <p>Você sabia que uma em cada 100 Pessoas no nosso pais são acometidas por esse tipo de Vicio?</p>
            </div>

            <img class="image" src="{% static 'img/vicio_em_jogo_semfundo.png' %}" alt="Imagem chamativa">

        </div>
    </header>    
    <style> 
        .header-content {
            background-size: cover;
            background-position: center;
            height: 60vh;
            color: #ffffff;
            padding: 30px;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start; /* Alinha os elementos no início do cabeçalho */
            align-items: flex-end; /* Alinha os elementos na parte inferior do cabeçalho */
            font-size: 24px;
        }
    </style>
    <!-- Fim do Header -->

    <!-- Primeiro Topico - Causas do Vicio -->

    <section class="causas">
        <div class="causas_content ">
            <div class="card"> 
                <center><h2>Causas do Vício em Jogos de Azar</h2></center>
                <div class="texto_causas ">
                    As pessoas jogam por diversos motivos: a adrenalina das apostas, o escape do tédio, o alívio momentâneo de emoções negativas e até mesmo a busca por soluções para problemas financeiros.
                    <br><br>
                    O vício pode se iniciar de forma inocente, com a simples curiosidade sobre os jogos. No calor da ação, os problemas se dissolvem, o estresse se esvai e a mente se concentra apenas na emoção do momento.
                    <br><br>
                    A vitória traz a grandiosidade, a sensação de poder e euforia. Já a derrota gera a frustração e a necessidade de revanche, alimentando a crença de que a próxima jogada trará a redenção.
                    <br><br>
                    A adrenalina da espera pelo resultado, a alegria da vitória e o prazer do sucesso criam um ciclo viciante, especialmente para quem enfrenta dificuldades na vida.
                    <br><br>
                    É nesse ponto que o psicológico entra em cena. O vício em jogos de azar é classificado como um transtorno pelo CID (Classificação Internacional de Doenças), tamanha a sua capacidade de afetar a saúde mental e física, assim como a qualidade de vida dos jogadores.
                    <br><br>
                    Dados da OMS (Organização Mundial da Saúde) de 2016 revelam o impacto financeiro do vício: US$ 400 bilhões em prejuízos para apostadores no mundo todo.
                    <br><br>
                    Além disso, o vício em jogos de azar aumenta o risco de desenvolver depressão, um problema que exige atenção e cuidado.
                    <br><br>
                    É importante estar ciente dos perigos que os jogos de azar podem apresentar. Jogar com responsabilidade e cautela é fundamental para evitar que a emoção se transforme em um vício prejudicial à saúde e ao bem-estar.

                </div>
            </div>
            <div class="causas_image">
                <h1>O vício retratado na mídia</h1>
                <img src="{% static 'img/causa.jpg' %}" alt="causa chamativa">
                <p style="font-size: 13px;">O vicio em jogos é um assunto que esta sendo constantemente <br> alertado por algumas mídias como algo perigoso e de difícil saída <br> como podemos ver nesta tirinha humorística feita pelo artista Arionauro.</p>
            </div>
        </div>
    </section>            

    <!-- Fim do Topico - Causas do Vicio -->

    <section class="sintomas">
        <div class="sintomas_content card">
            <div class="sintomas_card">
                <h2>Sintomas perceptíveis nos pacientes</h2>
                <p>O que torna os vícios tão problemáticos é o impacto negativo que possuem na vida diária das pessoas.</p>
                <p>Quando praticado moderadamente, um hábito que possui potencial para se transformar em um vício, como fazer compras ou comer alimentos gordurosos, não apresenta riscos.</p>
                <p>Os problemas começam a surgir quando a pessoa compulsiva percebe uma súbita decaída na sua qualidade de vida.</p>
            </div>
            <div class="sintomas_lista">
                <h2>Os principais sintomas são:</h2>
                <img src="{% static 'img/sintomas.png' %}" alt="Sintomas" style="max-width: 100%; height: auto; max-width: 600px;">
                <p>Esses sintomas são desenvolvidos aos poucos e, como a pessoa viciada esconde a gravidade do problema dos demais, eles podem ser notados somente quando ela já acumula muitas dívidas.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="solucao_content">
            <div class="proposta_solucao">
                <h2>O que oferecemos para te Ajudar...</h2>
                <div class="subtitulos">Encaminhamento para Profissionais Especializados</div>
                <p>Conectamos os usuários a médicos e terapeutas experientes no tratamento do vício em jogos de azar, garantindo um suporte profissional e especializado.</p>
                <div class="subtitulos">Acesso a Clínicas e Casas de Apoio</div>
                <p>Facilitamos o acesso a clínicas de reabilitação e casas de apoio que oferecem tratamento intensivo e suporte emocional para ajudar os pacientes a superarem o vício.</p>
                <div class="subtitulos">Abordagem Personalizada e Empática</div>
                <p>Reconhecemos que cada pessoa é única, por isso desenvolvemos planos de tratamento personalizados em colaboração com profissionais de saúde, abordando as necessidades específicas de cada paciente.</p>
                <div class="subtitulos">Educação e Prevenção</div>
                <p>Fornecemos recursos educacionais para aumentar a conscientização sobre os riscos do vício em jogos de azar e oferecemos programas de prevenção e intervenção precoce em parceria com organizações comunitárias e escolas.</p>
            </div>
            <div class="dicas_rapidas">
                <img src="{% static 'img/dicas.png' %}" alt="Sintomas" style="max-width: 100%; height: auto;">
            </div>   
        </div>
    </section>

    <!-- Fim do Topico -Proposta de Solução -->

    <!-- TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->

    <section class="titulo-tratamento">
        <div class="titulo_content">
            <h2 >Nossos Tratamentos...</h2>
        </div>
    </section>

    <section class="tratamentos-imagens">
        <div class="caixa_tratamento">
            <div class="tratamento">
                <img src="{% static 'img/psicoterapia.jpeg' %}" alt="Tratamento 1">
                <div class="legenda">Psicoterapia</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/remedio.jpg' %}" alt="Tratamento 2">
                <div class="legenda">Naltrexona</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/apoio.png' %}" alt="Tratamento 3">
                <div class="legenda">Grupos de Apoio</div>
            </div>
            <div class="tratamento">
                <img src="{% static 'img/clinica.jpg' %}" alt="Tratamento 4">
                <div class="legenda">Clínicas de Reabilitação</div>
            </div>
        </div>
    </section>

    <!-- FIM DO TOPICO - CAIXA DE IMAGENS COM TRATAMENTOS -->

    <!-- TOPICO - TEXTO DOS TRATAMENTOS -->

    <section class="tratamentos-texto">
        <div class="tratamentos">
            <h2></h2>

            <h3 class="subtitulos">Psicoterapia</h3>
            <p>Conectamos os usuários a psicólogos e terapeutas especializados no tratamento do vício em jogos de azar. Nossos profissionais têm experiência em ajudar os pacientes a explorar as causas subjacentes do vício, desenvolver estratégias de enfrentamento saudáveis e promover a mudança de comportamento positiva.</p>
            <p>Utilizamos técnicas da terapia cognitivo-comportamental, que se mostraram eficazes no tratamento do vício em jogos de azar. A TCC (Abordagem Cognitivo-Comportamental ) ajuda os pacientes a identificar e desafiar padrões de pensamento disfuncionais e a desenvolver habilidades para resistir aos impulsos de jogar.</p>
            <p>Nossos terapeutas fornecem um espaço seguro e acolhedor para os pacientes explorarem suas emoções, identificarem gatilhos para o jogo compulsivo e desenvolverem estratégias saudáveis de enfrentamento. Através do autoconhecimento e do apoio emocional, os pacientes são capacitados a tomar controle de suas vidas e superar o vício.</p>


            <h3 class="subtitulos">Naltrexona</h3>

            <p>A naltrexona é um medicamento comprovadamente eficaz no tratamento do vício em jogos de azar.</p>
            <p>Ao bloquear os receptores de dopamina associados ao prazer, a naltrexona ajuda a reduzir os impulsos compulsivos de jogar e a interromper o ciclo vicioso do comportamento de jogo.</p>
            <p>Com a Supervisão Médica Especializada, Nossos pacientes têm acesso a uma equipe de profissionais médicos qualificados, incluindo médicos psiquiatras e especialistas em vício, que monitoram de perto o uso da naltrexona e ajustam a dosagem conforme necessário para garantir a eficácia e segurança do tratamento.</p>

            <h3 class="subtitulos">Grupos de Apoio</h3>

            <p>Algumas pessoas respondem positivamente aos grupos de apoio. Eles funcionam da seguinte maneira: um grupo de pessoas se reúne para falar sobre um determinado problema e ouvir as histórias de quem está em uma situação semelhante.</p>
            <p>A dinâmica é conduzida por um psicólogo que aconselha os participantes de acordo com o caso.</p>
            <p>Essas reuniões acontecem em instituições e organizações não-governamentais voltadas para o tratamento de vícios, como, por exemplo o grupo de apoio tão famoso, os Jogadores Anônimos.</p>

            <h3 class="subtitulos">Clínicas de Reabilitação</h3>

            <p>Um psicólogo pode recomendar a internação em uma clínica de reabilitação, onde as pessoas podem permanecer em um ambiente distante de gatilhos que despertam a vontade de jogar.</p>

            <p>A internação tem duração aproximada de três meses ou mais. Nesse período, a pessoa dependente passa por um processo de desintoxicação psicológica em que recebe o auxílio de múltiplos profissionais.</p>

            <p>O atendimento é composto por atendimento médico e psicológico, grupos de apoio e programas de atividades diversas.</p>
        </div>
    </section>

    <!-- FIM TOPICO - TEXTO DOS TRATAMENTOS -->

    <!-- FOOTER  -->
    <footer>
        <h4>Guiando você na jornada da recuperação,<br> 
            oferecendo esperança, apoio e uma nova perspectiva de vida <br>além do vício.</h4>
        <p>&copy; 2024 GDB Vício Zero. Todos os direitos reservados.</p>
        <p> Suporte: (81) 9XXXX-XXXX</p>
        <p> EMAIL viciozero@gmail.com</p>
        <!--  
            <img class="insta" src="instagram.jpeg" alt="Instagram">
            <img class="face" src="facebook.jpeg" alt="Facebook">
        -->
    </footer>
</body>
</html>
