{% extends 'base.html' %}
{% load static %}
{% block cta %}

<div class="container hero">
        <div class="row">
          <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>Atendimento médico excepcional para pessoas com vicios</h1>
            <p> Plataforma dedicada a fornecer apoio e assistência
               para pessoas que estão lutando contra vícios em diversas substâncias.
               Reconhecemos que cada jornada de recuperação é única, e é por 
               isso que oferecemos uma abordagem personalizada para ajudar  
              cada indivíduo a encontrar o caminho para uma vida livre de 
               dependência.</p>

             
             <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Marque uma consulta</a>
           </div>
         </div>
    </div>

 </div>


{% endblock cta %}

{% block content %}
<section class="container py-5"  style="margin-block:50px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Nosso Time de profissionais</h1>
            
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

       
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team1.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Samuel</h5>
                    <span class="small text-uppercase text-muted">Médico Psiquiatra</span>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team2.jpg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Ana </h5>
                    <span class="small text-uppercase text-muted">Médico Psiquiatra</span>
                </div>
            </div>
          
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team3.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Alice</h5>
                    <span class="small text-uppercase text-muted">Médico Psiquiatra</span>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/team4.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr Thiago</h5>
                    <span class="small text-uppercase text-muted">Médico Psiquiatra</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center" style="height: 60vh;">
      <div class="text-center" style="color: white; background: rgb(39, 204, 135); padding: 20px;">
        <h1>Serviços</h1>
        <p class="overview">Oferecemos atendimento compassivo e especializado à nossa comunidade. Você está no centro de tudo o que fazemos. Deixe-nos ser seu parceiro de saúde.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

      <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'tratamento_cannabis' %}">
              <div class="card border-0 shadow">
                  <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title mb-0 green-text">Cuidados Primários</h5>
                      <div class="card-text text-black-50">Tratamento para Drogas
                    </div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'tratamento_jogos_de_azar' %}">
              <div class="card border-0 shadow">
                  <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title mb-0 green-text">Cuidados Primários</h5>
                      <div class="card-text text-black-50">Tratamento para jogos de azar</div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'tratamento_tabaco' %}">
              <div class="card border-0 shadow">
                  <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title mb-0 green-text">Cuidados Primários</h5>
                      <div class="card-text text-black-50">Tratamento para Tabaco</div>
                  </div>
              </div>
          </a>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
          <a href="{% url 'tratamento_alcoolismo' %}">
              <div class="card border-0 shadow">
                  <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                      <h5 class="card-title mb-0 green-text">Cuidados Primários</h5>
                      <div class="card-text text-black-50">Tratamento para Alcoolismo</div>
                  </div>
              </div>
          </a>
      </div>

      <style>
        .green-text {
            color: green;
        }
    </style>


    </div>
    <div class="text-center">
      <img src="../static/img/logoverde.png" alt="Logo" style="border-radius: 1000px; max-width: 60%; height: auto; margin: 150px;">
    </div>
</section>
           
<section class="text-center container" style="margin-block: 100px;" id="reviews">
  <h2>Pacientes Satisfeitos</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>   
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="img-box"><img src="{% static 'img/patient1.jpg' %}" alt=""></div>
              <p class="testimonial">Testemunho de cada paciente</p>
              <p class="overview">Paulo Messias Borba</p>
          </div>
          <div class="carousel-item">
              <div class="img-box"><img src="{% static 'img/patient2.jpg' %}" alt=""></div>
              <p class="testimonial">Testemunho de cada paciente</p>
              <p class="overview">Jose Silva</p>
          </div>
          <div class="carousel-item">
              <div class="img-box"><img src="{% static 'img/patient3.jpg' %}" alt=""></div>
              <p class="testimonial">Testemunho de cada paciente</p>
              <p class="overview">Julia Pontes</p>
          </div>		
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
      </a>
  </div>
</section>
<script>
  $(document).ready(function(){
      $('#myCarousel').carousel();
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>



<div> "Olá, paciente! Este formulário proporciona uma interação direta com nossos profissionais cadastrados. Aqui, você pode esclarecer previamente suas preocupações e dores. Essa forma de interação é especialmente útil para pacientes que não têm certeza sobre qual médico procurar para lidar com seu tipo específico de vício."
</div> <br>  <br> 
<div class="row">
  <div class="col-sm-6">
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=Recife,Imbiribeira&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
    </div>
  </div><!-- end col -->

  <!-- Contact form -->
  <div class="col-sm-6">
    <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="form-group">
        <label for="name2">Nome</label>
        <input class="form-control" id="name2" name="Nome" type="text" placeholder="Nome">
        <div class="error" id="err-Nome" style="display: none;">Selecione o nome</div>
      </div> <!-- /Form-name -->

      <div class="form-group">
        <label for="email2">Email</label>
        <input class="form-control" id="email2" name="Email" type="text" placeholder="Email">
        <div class="error" id="err-emailvld" style="display: none;">E-mail em formato incorreto</div> 
      </div> <!-- /Form-email -->

      <div class="form-group">
        <label for="message2">Mensagem</label>
        <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Mensagem</textarea>

        <div class="error" id="err-message" style="display: none;">Enter</div>
      </div> <!-- /col -->

      <div class="row">            
          <button type="submit" class="btn btn-primary " id="send">Enviar</button>
        </div> <!-- /col -->
      </div> <!-- /row -->

    </form> <!-- /form -->
  </div> <!-- end col -->

</div> <!-- end row -->
    
</div>




<br>
<br>
<br>



       <!-- Formulário de Consulta de Profissional -->
       <div class="col-lg-6 mx-auto mb-4">
        <div class="custom-form">
            <div class="form-header">
                <h1 class="form-text">Consultar profissional</h1>
                <div>
                  <h5>Este formulário permite que você encontre o tipo específico de profissional que está procurando. Por favor, selecione o tipo de profissional que melhor se adequa às suas necessidades:</h5>
                  </div>
            </div>
            <form id="buscarProfissionaisForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="tipoProfissional" class="form-text"><h4>Escolha o tipo de Profissional:</h4></label>
                    <select class="form-control" id="tipoProfissional">
                        <option value="Dr Alice ( especialita em tratamento para Jogos de Azar)">Dr Alice (Tratamento para Jogos de Azar)</option>
                        <option value="Dr Ana ( especialita em tratamento para Alcoolismo)">Dr Ana (Tratamento para Alcoolismo)</option>
                        <option value="Dr Thiago ( especialita em tratamento para Tabaco)">Dr Thiago (Tratamento para Tabaco)</option>
                        <option value="Dr Samuel ( especialita em tratamento para Cannabis)">Dr Samuel (Tratamento para Cannabis)</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" onclick="consultaProfissional()">Pesquisar</button>
            </form>
            <div class="contact-map">
                <iframe id="mapaProfissional" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 430px;"></iframe>
            </div>
        </div>
    </div>
      
      <script>
          function preencherCEP(cep) {
              document.getElementById('cepProfissional').value = cep;
          }

          function consultaProfissional() {
              let tipoProfissional = document.querySelector('#tipoProfissional').value;
              let cep;

              // Determinar o CEP com base no tipo de profissional selecionado
              switch (tipoProfissional) {
                    
                  case 'Dr Alice ( especialita em tratamento para Jogos de Azar)':
                      cep = '52031-900';
                      break;
                  case 'Dr Ana ( especialita em tratamento para Alcoolismo)':
                      cep = '52021-900';
                      break;
                  case 'Dr Thiago ( especialita em tratamento para Tabaco)':
                      cep = '52011-906';
                      break;
                  case 'Dr Samuel ( especialita em tratamento para Cannabis)':
                      cep = '52011-905';
                      break;
                  default:
                      cep = '';
              }

              if (!cep) {
                  alert('Profissional não encontrado');
                  return;
              }

              document.getElementById('mapaProfissional').src = `https://www.google.com/maps/embed/v1/place?q=${cep}&key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4`;
          }
       </script>


       
        <section id="contact" class="card m-4 p-4 w-100">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6">
                        <div class="contact-detail-box">
                            <i class="far fa-envelope text-colored fa-3x"></i>
                            <h4>Entrar em contato</h4>
                            <abbr title="Phone">(55) 81 9 9120-5555<br>
                            Email: <a href="mailto:email@email.com" class="text-muted">thiagorramos@souunit.com.br</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-detail-box">
                            <i class="fa fa-map-marker fa-3x text-colored"></i>
                            <h4>Nossa localização</h4>
                            <address>
                                Av. Mal. Mascarenhas de Morais, 3905 <br> 
                                - Imbiribeira, Recife - PE, 51150-003
                            </address>
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed/v1/place?q=Recife,Imbiribeira&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 600px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
    
      
        <style>
          .custom-form {
              background-color: rgb(39, 204, 135); 
              border-radius: 10px;
              padding: 20px; 
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
          }
      
          
          .form-header {
              background-color: rgb(39, 204, 135); 
              color: white; 
              padding: 10px 20px;
              border-top-left-radius: 10px; 
              border-top-right-radius: 10px; 
          }
          
          .form-footer {
              background-color: rgb(39, 204, 135); 
              color: white; 
              padding: 10px 20px; 
              border-bottom-left-radius: 10px; 
              border-bottom-right-radius: 10px; 
          }
          
            .form-text {
              font-size: 30px;
          }
      </style>     
{% endblock content %}